<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  class="back" (click)="history.go(-1)" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: initial" class="back">Favourite List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid class="ion-no-padding tile">
  <ion-row>
    <ion-col size="6" *ngFor="let product of products" class="cell-class">
<ion-card class="card" >
  <ion-img [src]="product['image_url']" style="height: 100px;" (click)="getproductbyprod_id(product['prodid'])"></ion-img>
  <ion-card-content (click)="getproductbyprod_id(product['prodid'])">
    <ion-card-title class="title" style="height: 30px;">
      {{product['title']}} 
      </ion-card-title>
    <p class="cost" style="padding-top: 16px;">
      ${{product['regular_price']}} 
    </p>
    <p *ngIf="product['stock_availability']=='in_stock'">In Stock</p>
    <p>
      <ion-button size="small" color="secondary">Add To Cart</ion-button>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="cart" class="icons1" [routerLink]="['/basket']"></ion-icon>
    <ion-icon name="heart" class="icons1" [routerLink]="['/favourite-list']"></ion-icon>
    <ion-icon name="person" class="icons1" [routerLink]="['/user-profile']"></ion-icon>
    <ion-icon name="home" class="icons1" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-footer>

