<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="back" (click)="gotToBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="tile">
  <ion-row>
    <ion-col col-4>
<!-- <ion-card class="card"> -->
  <div class="category">
  <img src="assets/icon/beauty.jpg" (click)="gotToBeauty()">
  <ion-card-content>
    <ion-card-title class="title">
      Beuaty,Spa & Massage
      </ion-card-title>
  </ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
<ion-col col-4>
  <!-- <ion-card class="card"> -->
    <div class="category">
    <img src="assets/icon/rest.jpg" style="padding:2px"/>
    <ion-card-content>
      <ion-card-title class="title">
       Restaurant & Bar
        </ion-card-title>
    </ion-card-content>
  <!-- </ion-card> -->
</div>
  </ion-col>
<ion-col col-4>
<!-- <ion-card class="card"> -->
  <div  class="category">
  <img src="assets/icon/fitness.jpg"/>
  <ion-card-content>
    <ion-card-title>
     Fitness & Outdoor
      </ion-card-title>
  </ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col col-4>
<!-- <ion-card class="card"> -->
<div class="category">
<img src="assets/icon/Optimized-deal.jpg"/>
<ion-card-content>
  <ion-card-title class="title">
   Local Deal & Store
    </ion-card-title>
</ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
<ion-col col-4>
<!-- <ion-card class="card"> -->
  <div class="category">
  <img src="assets/icon/images.jpg" style="padding:2px"/>
  <ion-card-content>
    <ion-card-title class="title">
     Gateaway-Escape
      </ion-card-title>
  </ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
<ion-col col-4>
<!-- <ion-card class="card"> -->
<div  class="category">
<img src="assets/icon/images.jpg"/>
<ion-card-content>
  <ion-card-title>
   House & Garden
    </ion-card-title>
</ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
</ion-row>
<ion-row>
  <ion-col col-4>
<!-- <ion-card class="card"> -->
<div  class="category">
<img src="assets/icon/elec.jpg"/>
<ion-card-content>
  <ion-card-title class="title" style="padding-top: 10%;">
   Electronics
    </ion-card-title>
</ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
<ion-col col-4>
<!-- <ion-card class="card"> -->
  <div  class="category">
  <img src="assets/icon/automobile.jpg" style="padding:2px"/>
  <ion-card-content>
    <ion-card-title class="title">
     Automobile
      </ion-card-title>
  </ion-card-content>
<!-- </ion-card> -->
</div>
</ion-col>
<ion-col col-4></ion-col>
</ion-row>
</ion-grid>
