#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.tile{
overflow: scroll;
}
.card{
  border: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
} 
ion-card-title{
  font-size: 10px !important;
  color: black !important;
  font-weight: 700;
  font-family: unset;
}
.cost{
  text-align: center;
  color: black;
  font-weight: 700
}
.icons{
  font-size: 20px;
}
ion-toolbar{
  --background: #ec3237 !important;
}
ion-menu-button,ion-title{
  color: white;
}
.icons1{
  font-size: 20px;
  color: white;
  padding-left: 9%;
  padding-right: 9%;
}
.category{
  border: 1px solid lightgrey;
  border-radius: 0px;
}
.back{
  color:white;
}