<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" class="back" (click)="gotToBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="tile" *ngIf="dataflag">
    <ion-row>
      <ion-col size="4" *ngFor="let cat of categories" (click)="gotToSubCategory(cat.sub_cat,cat.name)">
    <img [src]="cat.image">
    <ion-card-content >
      <ion-card-title class="title">
       {{cat.name}}
        </ion-card-title>
    </ion-card-content>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
