<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product-list" class="white" (click)="gotoList()"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: initial" class="white">Product Details
    </ion-title>
    <ion-buttons slot="end">
     <ion-icon name="cart" class="white fs-25"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-slides pager="true" [options]="slideOpts" class="pt-4">
      <ion-slide>
        <ion-img [src]="url" class="height"></ion-img>
      </ion-slide>
    </ion-slides>
   <h4 style="text-align: center;">{{title}}</h4>
   <h5 style="text-align: center;
   color: gray;
   font-weight: 700">${{price}}</h5>
  <div class="desc">
    <p class="desc-title">PRODUCT DESCRIPTION:</p>
    <p>desc</p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-card no-padding no-margin class="no-border-radius segment-card"> -->
      <ion-grid>
      <ion-row>
        <ion-col col-6 class="segment-item">
      <ion-tab-button tab="category" color="primary">
        <ion-icon name="CART" (click)="gotToCat()" class="white"></ion-icon>
          <ion-label class="white">ADD TO CART</ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col col-6 class="segment-item1">
      <ion-tab-button  tab="contact"  color="secondary">
          <ion-icon name="checkmark-circle" class="white"></ion-icon>
          <ion-label class="white">BUY NOW</ion-label>
      </ion-tab-button>
    </ion-col>
    </ion-row>
    </ion-grid>
      <!-- </ion-card> -->
  </ion-toolbar>
</ion-footer>
