ion-toolbar{
  --background: #0d73bc !important;
}
ion-menu-button,ion-title{
  color: white;
}
ion-back-button{
  color: white;
}
.logo{
  padding-left: 25%;
  padding-top: 5%;
}
label,ion-button{
  display: flex;
  justify-content: center;
  text-align: center;
}