
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <img src="/assets/icon/logo.png" class="logo">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>Login</h1>
          </div>
          <div padding>
            <div style="padding-bottom: 4%;">
            <ion-item>
              <ion-icon name="person-circle-outline" color="danger"></ion-icon>
              <ion-input name="email" type="email" ngModel required ></ion-input>
            </ion-item>
          </div>
          <div style="padding-bottom: 4%;">
            <ion-item>
              <ion-icon name="lock-closed-outline" color="danger"></ion-icon>
              <ion-input name="password" type="password" ngModel required></ion-input>
              <ion-icon name="eye" slot="end"></ion-icon>
            </ion-item>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
          <div class="bottom">
          <span class="forgot_pass" style="padding-left: 2%" (click)="goToRegister()">Register as a new User</span>
          <span class="forgot_pass" style="padding-left: 8%" (click)="goToForgotpwd()">Forgot Password?</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>