<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  class="back" (click)="gotToBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid *ngFor="let products of product;let i = index">
  <ion-row>
    <ion-col size="8">
      <h4>{{products.name}}</h4>
      <h4><b>${{products.price}}</b></h4>
      <div>Delivery By Tuesday</div>
    </ion-col>
      <ion-col size="4">
        <img [src]="products.img">
        <ion-icon name="remove-circle" (click)="decrement(i)" ></ion-icon>
        {{products.qty}}
    <ion-icon name="add-circle" (click)="increment(i)" ></ion-icon>
      </ion-col>
      <ion-col col-6 style="border: 1px solid lightgray;">
        <ion-tab-button tab="category" color="primary" (click)="savelater(i)">
          <ion-icon name="download-outline"  class="white"></ion-icon>
            <ion-label class="white">Save for later</ion-label>
        </ion-tab-button>
      </ion-col>
      <ion-col col-6 style="border: 1px solid lightgray;">
        <ion-tab-button  tab="contact"  color="secondary" (click)="deleteitem(i)">
            <ion-icon name="trash-outline" class="white"></ion-icon>
            <ion-label class="white">Delete</ion-label>
        </ion-tab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    <!-- <ion-row>

  </ion-row> -->
  <br>
      <div style="border: 1px solid lightgray;border-radius: 1%;" *ngIf="product.length > 0">
      <h5 style="text-align: center;color: gray;"><b>PRICE DETAILS</b></h5>
      <hr />
      <hr class="dotted">
      <div style="padding-bottom: 4%;">
      <span style="padding-left: 2%;"><b>Total Amount</b></span>
      <span style="float: right;padding-right: 2%;"><b>${{total}}</b></span>
    </div>
    </div>
    <hr />
    <div style="padding-left:2%" *ngIf="saveproductArray && saveproductArray.length >0">
    <h3><b>Saved For Later</b></h3>
    <hr />
  </div>
    <ion-grid *ngFor="let products of saveproductArray;let i = index">
      <ion-row>
        <ion-col size="8">
          <h4>{{products.name}}</h4>
          <h4><b>${{products.price}}</b></h4>
        </ion-col>
          <ion-col size="4">
            <img [src]="products.img">
           <p>
            Quantity: {{products.qty}}
            </p>
          </ion-col>
          <ion-col col-6 style="border: 1px solid lightgray;">
            <ion-tab-button tab="category" color="primary" (click)="movetocart(i)">
              <ion-icon name="download-outline"  class="white"></ion-icon>
                <ion-label class="white">Move to Cart</ion-label>
            </ion-tab-button>
          </ion-col>
          <ion-col col-6 style="border: 1px solid lightgray;">
            <ion-tab-button  tab="contact"  color="secondary" (click)="deletelater(i)">
                <ion-icon name="trash-outline" class="white"></ion-icon>
                <ion-label class="white">Delete</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <lable *ngIf="product.length== 0 && saveproductArray.length == 0">Cart is Empty</lable>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- <ion-card no-padding no-margin class="no-border-radius segment-card"> -->
      <ion-grid style="background:white;">
      <ion-row>
        <ion-col col-6 >
      <ion-tab-button tab="category" >
          <ion-label style="font-size: large;"><b>${{total}}</b></ion-label>
      </ion-tab-button>
    </ion-col>
    <ion-col col-6 >
      <ion-tab-button  tab="contact" (click)="SendData()">
          <ion-button>Place Order</ion-button>
      </ion-tab-button>
    </ion-col>
    </ion-row>
    </ion-grid>
      <!-- </ion-card> -->
  </ion-toolbar>
</ion-footer>