<ion-header class="header">
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Product List
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid class="tile">
  <ion-row>
    <ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title class="title">
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
  <ion-row>
    <ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col col-6>
<ion-card class="card">
<img src="assets/icon/chmois.jpg"/>
<ion-card-content>
  <ion-card-title>
    MOTHERS WAX ON WAX CLOTH
    </ion-card-title>
  <p class="cost">
    $8.00
  </p>
  <p>
    <ion-icon name="cart-outline" class="icons"></ion-icon>
    <ion-icon name="heart-outline" class="icons"></ion-icon>
    <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
    <ion-icon name="eye-outline" class="icons"></ion-icon>
  </p>
</ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
<img src="assets/icon/chmois.jpg"/>
<ion-card-content>
  <ion-card-title>
    MOTHERS WAX ON WAX CLOTH
    </ion-card-title>
  <p class="cost">
    $8.00
  </p>
  <p>
    <ion-icon name="cart-outline" class="icons"></ion-icon>
    <ion-icon name="heart-outline" class="icons"></ion-icon>
    <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
    <ion-icon name="eye-outline" class="icons"></ion-icon>
  </p>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid>

<ion-footer>
  <ion-toolbar>
    <ion-icon name="cart" class="icons1"></ion-icon>
    <ion-icon name="heart" class="icons1"></ion-icon>
    <ion-icon name="person" class="icons1"></ion-icon>
    <ion-icon name="home" class="icons1"></ion-icon>
  </ion-toolbar>
</ion-footer>

