.logo{
  width: 30%;
  height: 30%;
  padding-top: 2%;
  
}
.head_icons{
  padding-left: 35%;
}
.icons1{
  padding-left: 3%;
  font-size: 24px;
  padding-top: 1%;
  color:crimson;
}
.segment-card {
  display: flex;
  overflow-x: scroll;
  border: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
  margin: 10px 0%;
  border-radius: 0px;
  .segment-item {
      display: inline-block !important;
      min-width: 100px !important;
      width: auto !important;
      background: #0E69B1;
      color:white;
     
  }
}
ion-tab-button[aria-selected=true] {
  box-shadow: 0 0 2px 0 #0E69B1 inset;
}
ion-slides {
  height: 30%;
}
.icons1{
  font-size: 20px;
  color: white;
  padding-left: 9%;
  padding-right: 9%;
}
ion-footer{
  height: 50px !important;
}
.footer{
  --background: #ec3237 !important;
}
ion-menu-button,ion-title{
  color: white;
}


