<ion-header class="header">
  <ion-toolbar>
    <ion-title class="center">
    <img src="/assets/icon/logo.png" class="logo">
    </ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>

  <ion-card no-padding no-margin class="no-border-radius segment-card" >
    <ion-tab-button class="segment-item" tab="category" (click)="gotToCat()">
      <!-- <ion-icon name="reorder-three-outline" ></ion-icon> -->
      <img src="assets/icon/list.png" class="icon">
        <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item" tab="contact" *ngFor = "let categories of category" (click)="gotosubcat(categories.name,categories.sub_cat)">
        <img [src]="categories.icon" class="icon"/>
        <ion-label text-wrap>{{categories.name}}</ion-label>
    </ion-tab-button>
</ion-card>
</ion-header>
<ion-content class="container">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="assets/icon/rest.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/icon/automobile.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/icon/elec.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-img src="assets/icon/banner1.jpg" class="pt-2" (click)="gotoBeauty()"></ion-img>
<ion-img src="assets/icon/banner2.jpg"  class="pt-2"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-icon name="cart" class="icons1" ></ion-icon>
    <ion-icon name="heart" class="icons1" ></ion-icon>
    <ion-icon name="person" class="icons1" (click)="gotToUser()"></ion-icon>
    <ion-icon name="home" class="icons1" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-footer>