<ion-header class="header" style="background: blue;">
  <ion-toolbar>
    <!-- <ion-title> -->
    <img src="/assets/icon/C_logo.png" class="logo" style="background: blue;">
    <!-- </ion-title> -->
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>
<ion-content class="container">
  <ion-card no-padding no-margin class="no-border-radius segment-card" (click)="gotToCat()">
    <ion-tab-button class="segment-item" tab="category">
      <ion-icon name="reorder-three-outline" ></ion-icon>
        <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button class="segment-item" tab="contact" *ngFor = "let categories of category">
        <!-- <ion-icon name="tv"></ion-icon> -->
        <img [src]="categories.icon" class="icon"/>
        <ion-label text-wrap>{{categories.name}}</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button class="segment-item" tab="settings">
      <ion-icon name="car"></ion-icon>
        <ion-label>Automobile</ion-label>
    </ion-tab-button> -->
    <!-- <ion-tab-button class="segment-item" tab="settings">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Fitness</ion-label>
  </ion-tab-button> -->
  <!-- <ion-tab-button class="segment-item" tab="settings">
    <ion-icon name="rose"></ion-icon>
    <ion-label>Outdoor</ion-label>
</ion-tab-button> -->
</ion-card>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-img src="assets/icon/rest.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/icon/automobile.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/icon/elec.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-img src="assets/icon/banner1.jpg" class="pt-2" (click)="gotoBeauty()"></ion-img>
<ion-img src="assets/icon/banner2.jpg"  class="pt-2"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <ion-icon name="cart" class="icons1"></ion-icon>
    <ion-icon name="heart" class="icons1"></ion-icon>
    <ion-icon name="person" class="icons1"></ion-icon>
    <ion-icon name="home" class="icons1"></ion-icon>
  </ion-toolbar>
</ion-footer>
<!-- <ion-grid class="tile">
  <ion-row>
    <ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title class="title">
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
  <ion-row>
    <ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
  <img src="assets/icon/chmois.jpg"/>
  <ion-card-content>
    <ion-card-title>
      MOTHERS WAX ON WAX CLOTH
      </ion-card-title>
    <p class="cost">
      $8.00
    </p>
    <p>
      <ion-icon name="cart-outline" class="icons"></ion-icon>
      <ion-icon name="heart-outline" class="icons"></ion-icon>
      <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
      <ion-icon name="eye-outline" class="icons"></ion-icon>
    </p>
  </ion-card-content>
</ion-card>
</ion-col>
</ion-row>
<ion-row>
  <ion-col col-6>
<ion-card class="card">
<img src="assets/icon/chmois.jpg"/>
<ion-card-content>
  <ion-card-title>
    MOTHERS WAX ON WAX CLOTH
    </ion-card-title>
  <p class="cost">
    $8.00
  </p>
  <p>
    <ion-icon name="cart-outline" class="icons"></ion-icon>
    <ion-icon name="heart-outline" class="icons"></ion-icon>
    <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
    <ion-icon name="eye-outline" class="icons"></ion-icon>
  </p>
</ion-card-content>
</ion-card>
</ion-col>
<ion-col col-6>
<ion-card class="card">
<img src="assets/icon/chmois.jpg"/>
<ion-card-content>
  <ion-card-title>
    MOTHERS WAX ON WAX CLOTH
    </ion-card-title>
  <p class="cost">
    $8.00
  </p>
  <p>
    <ion-icon name="cart-outline" class="icons"></ion-icon>
    <ion-icon name="heart-outline" class="icons"></ion-icon>
    <ion-icon name="reorder-two-outline" class="icons"></ion-icon>
    <ion-icon name="eye-outline" class="icons"></ion-icon>
  </p>
</ion-card-content>
</ion-card>
</ion-col>
</ion-row>
</ion-grid> -->

<!-- <ion-footer>
  <ion-toolbar>
    <ion-icon name="cart" class="icons1"></ion-icon>
    <ion-icon name="heart" class="icons1"></ion-icon>
    <ion-icon name="person" class="icons1"></ion-icon>
    <ion-icon name="home" class="icons1"></ion-icon>
  </ion-toolbar>
</ion-footer> -->
