  .icons{
    font-size: 20px;
  }
  ion-toolbar{
    --background: #0d73bc !important;
  }
  ion-menu-button,ion-title{
    color: white;
  }
  .back{
    color:white;
  }
  .profile-img{
    height: 100px;
    border-radius: 30%;
    display: flex;
    margin-left: 35%;
  }