<ion-content>
  <ion-toolbar color="danger">
    <ion-title>Couponmate</ion-title>
  </ion-toolbar>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h1>Sign Up</h1>
          </div>
          <div padding>
            <ion-item>
              <ion-icon name="person-outline" color="danger"></ion-icon>
              <ion-input  name="dname" type="text" placeholder="Display Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="person-circle-outline" color="danger"></ion-icon>
              <ion-input  name="uname" type="text" placeholder="User Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="mail-outline" color="danger"></ion-icon>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline" color="danger"></ion-icon>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock-closed-outline" color="danger"></ion-icon>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="key-outline" color="danger"></ion-icon>
              <ion-input  name="secret" type="text" placeholder="Secret Key" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding class="register_btn">
            <ion-button  size="large" type="submit" [disabled]="form.invalid"  color="danger">Register</ion-button>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" color="danger" (click)="gotoLogin">Sign In</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
